<html>
<head>
    <title>Go-Gis</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 50.631, lng: 3.012},
            zoom: 12
        });
        map.data.setStyle(
            function(feature) {
                var type = feature.getProperty('type');
                var color = type === 'departement' ? 'red' : 'green';
                return {
                    fillColor: color,
                    strokeWeight: 1
                };
            });
        //map.data.loadGeoJson('/regions');
        //map.data.loadGeoJson('/departements');


        map.data.setStyle(
            function(feature) {
                var name = feature.getProperty('nom');
                var size = feature.getProperty('size');
                var area = feature.getProperty('area');
                console.log(name);
                let note = size / Math.sqrt(area);
                console.log(note);
                color = 'green';
                if (note < 5) {
                    color = 'red';
                } else if (note < 10) {
                    color = 'orange'
                } else if (note < 15) {
                    color = 'yellow'
                }
                return {
                    fillColor: color,
                    strokeWeight: 1
                };
            });
        map.data.loadGeoJson('/sncf');
        map.data.loadGeoJson('/sncf/repartition');
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{.GOOGLE_MAPS_KEY}}&callback=initMap&libraries=visualization"
        async defer></script>
</body>
</html>